.user-join {
    border: 1px solid red;
    width:30%;
    box-sizing: border-box;
}

.info{
    border: 1px solid green;
    width:30%;
    box-sizing: border-box;
}

.test-btn{
    border: 1px solid blue;

    width:30%;
    box-sizing: border-box;
}